<!DOCTYPE html>
<html>
<head>
    <title>Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/predict">Prediction</a>
    <a href="/records">Records</a>
    <a href="/about">About</a>
</nav>

<h1>Crop Prediction Form</h1>

<form method="POST" action="/predict">
<input type="number" name="nitrogen" placeholder="Nitrogen" required>

<input type="number" name="phosphorus" placeholder="Phosphorus" required>

<input type="number" name="potassium" placeholder="Potassium" required>

<input type="number" name="temperature" placeholder="Temperature" required>

<input type="number" name="humidity" placeholder="Humidity" required>

<input type="number" step="0.01" name="ph" placeholder="pH" required>

<input type="number" name="rainfall" placeholder="Rainfall" required>

<button type="submit">Predict Crop</button>
</form>

</body>
</html>